<div class="h-100" style="background: #EEE">
    <div class="d-flex justify-content-center" style="background-color: #eee;">
        <div class="card" style="margin-top: 100px; width: 360px;">
          <div class="card-body">

            <div class="d-flex justify-content-center">
              <div class="logo-block">
                  <a routerLink="/" routerLinkActive="active"><img src="assets/logo.png" alt="shop" height="40"></a>
              </div> <!-- End logo Block -->
            </div>
            
            

              <div class="mb-4">
                  <span class="heading">Signin</span>
                  <span class="border-bottom"></span>
              </div> <!-- End -->
          <form>
           
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email Address" #email>
            </div> <!-- End -->
      
      
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" #password>
            </div> <!-- End -->
  
  
            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-success" (click)="doDogin(email.value, password.value)">Signin</button>
  
              <span class="mt-2">
               <small> <span class="p-2">Does not have any account ? <a routerLink="/signup">Signup</a></span></small>
              </span>
            </div> <!-- End div -->
  
      
          </form>
  
          <div *ngIf="notification" class="mt-4">
            <div class="alert alert-warning">
                  <span>{{ notification }}</span>
            </div> <!-- End alert -->
          </div> <!-- End notification-->
          
    
         
          </div> <!-- End -->
      </div> <!-- End card -->


  </div>  <!-- End flex -->
</div> <!-- End div -->