<div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="card" style="margin-top: 20px;">
        <div class="card-body">
            <h4>Signin</h4>
        <form>
         
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email Address" #email>
          </div> <!-- End -->
    
    
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" #password>
          </div> <!-- End -->


          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-success" (click)="doDogin(email.value, password.value)">Submit</button>

            <span class="mt-2">
              Does not have any account ? <a routerLink="/signup">Signup</a>
            </span>
          </div> <!-- End div -->

    
        </form>

        <div *ngIf="notification" class="mt-4">
          <div class="alert alert-warning">
                {{ notification }}
          </div> <!-- End alert -->
      </div> <!-- End notification-->
  
       
        </div> <!-- End -->
    </div> <!-- End card -->
    </div> <!-- End col sm -->
  </div> <!-- End row -->
  