<div class="prodoct-insertion">
    <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="card-body">
              <div>
                  <h6>Add New Product</h6>
              </div>
              <div>
                  <form (ngSubmit)="omSubmit($event, product)">
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Product Name" [(ngModel)]="product.name" name="name">
                      </div> <!-- End form group -->
    
                      <div class="form-group">
                          <input type="number" class="form-control" placeholder="Product Price" [(ngModel)]="product.price" name="price">
    
                          <input type="hidden" class="form-control" [(ngModel)]="product.quantity" name="quantity">
                      </div> <!-- End form group -->
    
                      <div class="form-group">
                          
                              <select [(ngModel)]="product.category"  class="form-control input-sm" name="product.category">
                              <option *ngFor="let category of product.options;" [value]="category">{{ category }}</option>
                            </select>
                      </div> <!-- End form group -->


                      <div class="mb-4 mt-4">
                        <div *ngIf="product.imgPath" class="product-image">
                            <img [src]="product.imgPath" alt="" width="140">
                            <div class="remove" (click)="removeImage()">x</div>
                        </div> <!-- End -->
                      </div> <!-- End card  -->
    
                     
    
                      <div class="form-group">
                          <div class="input-group mb-3">
                              
                              <div class="custom-file">

                                <input type="hidden" [(ngModel)]="product.imgPath" name="product.imgPath">
                               
    
                                <input type="file" class="custom-file-input" (change)="uploadFile($event)" id="inputGroupFile01" name="product.imgPath" placeholder="select a file">
                                <label class="custom-file-label" for="inputGroupFile01">{{ product.filename }}</label>
                              </div>
                              
                            </div>
                      </div> <!-- End form group -->
    
                      
    
                      <button class="btn btn-success"><i class="material-icons" style="color: #FFF;">playlist_add</i> Add product</button>
                  </form>
              </div>
         
          </div> <!-- End -->
      </div> <!-- End card -->
    </div> <!-- End col sm -->
</div> <!-- End product Insetation -->