<div class="row">
    <div class="col-sm-12">
        <div style="margin-top: 40px;">
            <input [(ngModel)]="searchText" placeholder="Search ..." class="form-control" />
        </div> <!-- End search -->
    </div> <!-- End col -->
</div> <!-- End row -->

<div style="margin-top: 30px">
    <div class="row">
        <div class="col-sm-4" *ngFor="let product of products | filter : searchText; let i = index;" style="margin-bottom: 10px;">
                <div class="card">
                    <img src="assets/products/{{ product.category }}/{{ product.product_image}}.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.product_name }} <span>
                                <small>{{ product.category | titlecase  }}</small>
                            </span></h5>
                            
                            <div style="margin: 5px 0;"> 
                                   {{ product.product_price }} <small>$</small>
                            </div>
                            <div (click)="addToCart(product)" class="btn btn-sm btn-success">Add To Cart</div>
                        </div> <!-- End card body -->
                </div> <!-- End card  -->
        </div> <!-- End col  -->
    </div> <!-- End row -->
</div> <!-- End col -->