<div class="row filter-block d-flex align-items-center">
    <div class="col-sm-6 col-12">
        <div class="pricerange-block">
                <div class="row">
                    <div class="col-sm-4 col-12">
                        <div>
                            <span class="range-label">Min</span> <input type="number" [(ngModel)]="minValue" name="minValue" (input)="searchPrice(minValue, maxValue)">

                        </div>  <!-- End -->

                        <div>
                            <span class="range-label">Max</span> <input type="number" [(ngModel)]="maxValue" (input)="searchPrice(minValue, maxValue)" name="maxValue">
                        </div> <!-- End -->
                        
                        

                    </div> <!-- End col -->

                    <div class="col-sm-8 col-12">
                        
                            <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (click)="searchPrice(minValue, maxValue)"></ng5-slider>

                        
                    </div> <!-- End col -->
                </div> <!-- End row -->

                    
                    
        </div> <!-- End div -->
    </div> <!-- End col 6 -->
    <div class="col-sm-6 col-12">
        <div class="">
            <input [(ngModel)]="searchText" placeholder="Search ..." class="form-control search-box" />
        </div> <!-- End -->
    </div> <!-- End col -->
</div> <!-- End row -->



<div *ngIf="!products$" class="mtb-20">
    <div class="row">
         <li *ngFor="let index of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]" class="card-loader col-4">
                 
         </li>
    </div>
</div>   <!-- End loader -->

<div *ngIf="products$?.length > 0">
        <div class="product-list row" style="margin-top: 10px">
                <div class="col-sm-4" *ngFor="let product of products$ | searchname: searchText" style="margin-bottom: 30px;"> <div class="card">
                                <div class="product-img">
                                      <img src="{{ product.product_img }}" class="card-img-top" [alt]="product.product_name">
                                </div> <!-- End product Img -->
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <div class="product-title">
                                            {{ product.product_name }} 
                                        </div> <!-- End  -->
                                       
                                        <div style="margin: 5px 0;" class="product-price"> 
                                            {{ product.product_price }} <span class="currency">$</span>
                                        </div> <!-- End  -->
                                    </div>  <!-- End d-flex -->
                                    
                                    <div (click)="addToCart(product)" class="btn btn-sm btn-success"><i class="material-icons" style="color: #FFF;">shopping_cart</i>Add To Cart</div>
                                </div> <!-- End card body -->
                        </div> <!-- End card  -->
                </div> <!-- End col  -->
        </div> <!-- End row -->
</div>   <!-- End Div -->


