<div class="row">
    <div class="col-sm-12">
        <div style="margin-top: 20px;">
            <input [(ngModel)]="searchText" placeholder="Search ..." class="form-control" />
            
        </div> <!-- End search -->
    </div> <!-- End col -->
</div> <!-- End row -->


<div class="row">
    <div class="col-sm-12">
        <div style="margin-top: 40px;">
                   <div class="d-flex pricerange-div">

                    <p><span class="label">Min Price</span> <input type="number" [(ngModel)]="minValue" (click)="searchPrice(minValue, maxValue)"></p>
                    <p><span class="label">Max Price</span> <input type="number" [(ngModel)]="maxValue" (click)="searchPrice(minValue, maxValue)"></p>
                    <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (click)="searchPrice(minValue, maxValue)"></ng5-slider>

                   
                   </div> <!-- End div -->
        </div> <!-- End search -->
    </div> <!-- End col -->
</div> <!-- End row -->


<div *ngIf="!products" class="mtb-20">
    <div class="row">
         <li *ngFor="let index of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]" class="card-loader col-4">
                 
         </li>
    </div>
    
</div>   <!-- End loader -->



<div style="margin-top: 30px" class="d-flex">
    <div class="row">
        <div class="col-sm-4" *ngFor="let product of products | searchname: searchText" style="margin-bottom: 10px;"> <div class="card">
                        <div class="product-img">
                            <img src="{{ product.product_img }}" class="card-img-top" [alt]="product.product_name">
                        </div> <!-- End product Img -->
                        <div class="card-body">
                            <h5 class="card-title">{{ product.product_name }} <span>
                                <small>{{ product.category | titlecase }}</small>
                            </span></h5>
                            
                            <div style="margin: 5px 0;"> 
                                   {{ product.product_price }} <small>$</small>
                            </div>
                            <div (click)="addToCart(product)" class="btn btn-sm btn-success"><i class="material-icons" style="color: #FFF;">add_shopping_cart</i>Add To Cart</div>
                        </div> <!-- End card body -->
                </div> <!-- End card  -->
        </div> <!-- End col  -->
    </div> <!-- End row -->
</div> <!-- End col -->