<header id="topHeader">
    <div class="container">
      <div class="row header-section">
              <div class="col-12">
                    <div class="logo-block">
                        <a routerLink="/" routerLinkActive="active"><img src="assets/logo.png" alt="shop" height="40"></a>
                    </div>  <!-- End Logo Block -->
              </div>  <!-- End md 2 -->
  
             
        </div>    <!-- End row -->
    </div>    <!-- End container -->
  </header>

  <div class="container mh">
    <div class="component-div h70">
        <div class="mt-4">
            <h4>
                Contact us
            </h4>
            <div>
                
                <p>
                    Shoot your probelm to us with the following mail address. we will get back you soon.
                </p>
                <p>support@side.com</p>
            </div>
        </div>
    </div>  <!-- End component-div -->

    
</div> <!--  End container -->  
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          &copy; 2020. All rights reserved.
      </div> <!-- End col sm --> 
    </div> <!-- End row -->
  </div> <!--  End container --> 
</footer> 