<header id="topHeader">
    <div class="container">
      <div class="row header-section">
              <div class="col-sm-4 col-12">
                    <div class="logo-block">
                        <a routerLink="/" routerLinkActive="active"><img src="assets/logo.png" alt="shop" height="40"></a>
                    </div>  <!-- End Logo Block -->
              </div>  <!-- End md 2 -->
             
        </div>    <!-- End row -->
    </div>    <!-- End container -->
  </header>

<div class="container" style="margin-top: 4rem;">







	<form [formGroup]="sponsor_form">
		<div formArrayName="amount_list">
			  <button class="btn btn-secondary" (click)="addAlias()">Add Alias</button>
				<div *ngFor="let alias of [1,2,3]; let i=index">
			      		<input type="text" [formControlName]="i" class="form-control my-2" placeholder="Name">
			    </div>  <!-- End -->
		</div>  <!-- End -->
			 
		<button type="submit" class="btn btn-secondary" (click)="updateDate()">Submit</button>
			 
	</form>
</div> <!--  End container -->  