<header id="topHeader">
    <div class="container">
      <div class="row header-section">
              <div class="col-sm-4 col-12">
                    <div class="logo-block">
                        <a routerLink="/" routerLinkActive="active"><img src="assets/logo.png" alt="shop" height="40"></a>
                    </div>  <!-- End Logo Block -->
              </div>  <!-- End md 2 -->
             
        </div>    <!-- End row -->
    </div>    <!-- End container -->
  </header>

<div class="container" style="margin-top: 4rem;">


  <h4>Basic mat-select</h4>
  <mat-form-field appearance="fill">
    <mat-select [value]="select">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
   <mat-select placeholder="select" value="02" >
          <mat-option value="01"> 01</mat-option>
          <mat-option value="02"> 02</mat-option>
          <mat-option value="03"> 03</mat-option>
    </mat-select>
  </mat-form-field>


  <form #companyForm="ngForm">
   
       <div>
          <input type="text" placeholder="Company Name" name="companyForm.name" #name="ngModel" [(ngModel)]="companyForm.name" minlength="10" required>

          <div [hidden]="name.valid || name.pristine"
               class="alert alert-warning my-2">
            Name is required
          </div>


       </div>

       <div>
           <input type="text" placeholder="Phone" name="phone" [(ngModel)]="companyForm.phone" required>
       </div>

       <div>
         <button type="submit" class="btn btn-secondary" [disabled]="!companyForm.form.valid" (click)="updateObject()">Submit</button>
       </div>
    
       
  </form>
</div> <!--  End container -->  