.product {
    padding: 40px 60px;
    margin: 0;
    box-shadow: 2px 2px 4px 0 rgba(83, 70, 70, 0.3);
    -webkit-box-shadow: 2px 2px 4px 0 rgba(83, 70, 70, 0.3);
    -moz-box-shadow: 2px 2px 4px 0 rgba(83, 70, 70, 0.3);
    -ms-box-shadow: 2px 2px 4px 0 rgba(83, 70, 70, 0.3);
}