<header id="topHeader">
    <div class="container">
      <div class="row header-section">
              <div class="col-sm-4 col-12">
                    <div class="logo-block">
                        <a routerLink="/" routerLinkActive="active"><img src="assets/logo.png" alt="shop" height="40"></a>
                    </div>  <!-- End Logo Block -->
              </div>  <!-- End md 2 -->
             
        </div>    <!-- End row -->
    </div>    <!-- End container -->
  </header>

<div class="container" style="margin-top: 4rem;">


        
          <div class="my-4">
               <li *ngFor="let o of items" class="mb-2">
                    {{ o["restaurant_details"]["name"] }}

              </li>
              
          </div>  <!-- End  -->
           <div class="my-4" *ngIf="btn_visibility">
                  <button class="btn btn-success" (click)="update($event)"> More </button>

           </div> <!-- End  -->

           
  


    
    		  
</div> <!--  End container -->  
