
  <div class="d-flex h-100 align-items-center justify-content-center" style="background-color: #eee;">
        <div class="card" style="margin-top: 20px; width: 360px;">
          <div class="card-body">

            <div class="d-flex justify-content-center">
              <div class="logo-block">
                  <a routerLink="/" routerLinkActive="active"><img src="assets/logo.png" alt="shop" height="40"></a>
              </div> <!-- End logo Block -->
            </div>

            <div *ngIf="notification" class="mt-4" style="max-width: 280px;">
              <div class="alert alert-warning">
                    <span>{{ notification }}</span>
              </div> <!-- End alert -->
            </div> <!-- End notification-->

            

              <div class="mb-4">
                  <span class="heading">Signup</span>
                  <span class="border-bottom"></span>
              </div> <!-- End -->
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="name" required placeholder="Name">
                </div>
          
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email Address" #email_address>
                </div> <!-- End -->
          
          
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" #password>
                </div> <!-- End -->
        
        
                <div class="d-flex justify-content-between">
                  <button type="submit" class="btn btn-success" (click)="createUser(email_address.value, password.value)">Signup</button>
        
                  <span class="mt-2">
                    <span class="p-2"><small>Already have an account ? <a routerLink="/signin">Login</a></small></span>
                  </span>
                </div> <!-- End div -->
                <span>
                 
                </span>
          
              </form>
  
              
    
         
          </div> <!-- End -->
      </div> <!-- End card -->


  </div>  <!-- End flex -->
