
    <div class="container-fluid" style="width: 100%; max-width: 100%;">
        <div class="row">
            <div class="sidebar">
               <div class="sb-content">
    
                <ul class="list-group-flush">
                    <li class="d-flex justify-content-center">
                        <div class="logo-block">
                            <a routerLink="/dashboard" routerLinkActive="active"><img src="assets/logo.png" alt="shop" height="40"></a>
                        </div> <!-- End logo Block -->
                    </li>
    
                    <li class="list-group-item"><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    
                    <li class="list-group-item"><a routerLink="add-product" routerLinkActive="active">+ Add New Product</a></li>
    
                    <li class="list-group-item"><a routerLink="/" routerLinkActive="active">Main Page</a></li>
    
                    <li class="list-group-item"><a routerLink="/signin" routerLinkActive="active">Logout</a></li>
                    
                  </ul>
               </div> <!-- End sb content -->
           </div> <!-- End sidebar -->
           <div class="dashboard">
                <div class="col-sm-12">
            
                    <div class="d-flex p-4">
                        <h4>Welcome To Dashboard</h4>
                    </div> <!-- End flex -->
                        
                        <div class="component-div h-100">
                                <router-outlet></router-outlet>
                        </div> <!-- End -->
            
                        <footer>
                            &copy; 2020. All rights reserved.
                        </footer>
                    </div>  <!-- End col 12 -->
            </div> <!-- End Dashboard -->
        </div> <!-- End row -->
    </div> <!-- End container -->
