
    <div class="container-fluid h-100" style="width: 100%; max-width: 100%;">
        <div class="row h-100">
            <div class="sidebar">
               <div class="sb-content">
                <div class="d-flex justify-content-center">
                    <div class="logo-block">
                        <a routerLink="/dashboard/user" routerLinkActive="active"><img src="assets/logo.png" alt="shop" height="35"></a>
                    </div> <!-- End logo Block -->
                </div> <!-- End -->
    
                <ul class="dashboard-link">
                   
    
                    <li><i class="material-icons md-18">reorder</i><a routerLink="/dashboard/user" routerLinkActive="active">
                        
                        Dashboard</a></li>

    
                    <li><i class="material-icons md-18">playlist_add</i><a routerLink="add-product" routerLinkActive="active">
                        
                        Product List</a></li>


                        <li><i class="material-icons md-18">sort</i><a routerLink="add-category" routerLinkActive="active">
                        
                            Product Category</a></li>

                        
    
                    <li><i class="material-icons md-18">apps</i>
                        <a routerLink="/" routerLinkActive="active"> Online Shop</a></li>
    
                    <li><i class="material-icons md-18">power_settings_new</i><a routerLinkActive="active" (click)="logOut()">
                        
                        Logout</a></li>
                    
                  </ul>
               </div> <!-- End sb content -->
           </div> <!-- End sidebar -->
           <div class="dashboard">
                <div class="col-sm-12 h-100">
                    
                        
                        <div class="component-div">
                                <router-outlet></router-outlet>
                        </div> <!-- End -->
            
                </div>  <!-- End col 12 -->

                <footer class="p-4">
                    &copy; 2020. All rights reserved.
                </footer>
            </div> <!-- End Dashboard -->
           
        </div> <!-- End row -->
    </div> <!-- End container -->