<div class="container-fluid" style="width: 100%; max-width: 100%;">

    
    <div class="row">
        <div class="sidebar col-lg-2">
           <div class="sb-content">

            <ul class="list-group-flush">
                <li class="d-flex justify-content-center">
                    <div class="logo-block">
                        <a routerLink="/dashboard" routerLinkActive="active"><img src="assets/logo.png" alt="shop" height="40"></a>
                    </div> <!-- End logo Block -->
                </li>
                <li class="list-group-item"><a routerLink="add-product" routerLinkActive="active">+ Add New Product</a></li>
                <li class="list-group-item"><a routerLink="/" routerLinkActive="active">= Product List </a></li>
              </ul>
           </div> <!-- End sb content -->
       </div> <!-- End sidebar -->
       <div class="col-lg-10">
            <h4>Welcome To Dashboard</h4>
       <router-outlet></router-outlet>
        </div>  <!-- End col 12 -->
    </div> <!-- End row -->
</div> <!-- End container -->

<footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
            &copy; 2020. All rights reserved.
        </div> <!-- End col sm --> 
      </div> <!-- End row -->
    </div> <!--  End container --> 
  </footer> 