.sidebar {
    background: #eee;
    max-width: 220px;
    z-index: 12;
    height: 100vh;
    position: fixed;
    height: 100%;
}

.sb-content {
    z-index: 12;
}

.logo-block {
    padding: 10px 0;
}