<header id="topHeader">
    <div class="container">
      <div class="row header-section">
              <div class="col-4">
                    <div class="logo-block">
                        <a routerLink="/" routerLinkActive="active"><img src="assets/logo.png" alt="shop" height="40"></a>
                    </div>  <!-- End Logo Block -->
              </div>  <!-- End md 2 -->
  
  
              <div class="col-8">
                  <nav class="nav-block">
                    <ul class="nav">
                      
                      
                      <li>
                        <a routerLink="/product/attire" routerLinkActive="active">Attire</a>
                      </li>
                      <li>
                        <a routerLink="/product/shoes" routerLinkActive="active">Shoes</a>
                      </li>
                      <li>
                       <a routerLink="/product/watch" routerLinkActive="active">Watch</a>
                      </li>

                      <li *ngIf="getStatus">

                          
                          <div ngbDropdown> <!-- **here** -->
                              <li ngbDropdownToggle class="link-border" style="margin-right: 0;">
                                 <a><i class="material-icons">perm_identity</i>Profile</a>
                              </li>
                     
                            <div ngbDropdownMenu>
                                <button ngbDropdownItem routerLink="/dashboard" routerLinkActive="active" ngbDropdownItem>Dashboard</button>
                                <button ngbDropdownItem routerLink="/logout" routerLinkActive="active" ngbDropdownItem (click)="logOut()">Logout</button>
                             
                            </div>
                          </div>
                  



                      </li>

                      <li *ngIf="!getStatus">
                        <a routerLink="/signin" routerLinkActive="active">Signin</a>
                      </li>
                      

                      
                      <li class="li-cart">
                        <a class="btn btn-sm btn-outline-success" routerLink="/cart" routerLinkActive="active"><i class="material-icons" style="color: #28a745;">add_shopping_cart</i>Cart <span class="badge badge-warning">{{ cartService.getItems().length }}</span></a>
                      </li>

                      
                    </ul> 
                 </nav>
            </div> <!-- End col 8 -->
        </div>    <!-- End row -->
    </div>    <!-- End container -->
  </header>

  <div class="container mh">
    <div class="component-div h70">
        <router-outlet></router-outlet>
    </div>  <!-- End component-div -->

    
</div> <!--  End container -->  
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          &copy; 2020. All rights reserved.
      </div> <!-- End col sm --> 
    </div> <!-- End row -->
  </div> <!--  End container --> 
</footer> 